*{
    margin: 0;
}
#div-1{
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
    border: 1px solid #555555;
    /* valores box-shadow: color, desplazamiento eje X, desplazamiento EJE Y,DIFUMINADO o blur estos ultimos valores son opcionales inset(sombra dentro del elemnto)*/
    box-shadow:#999 3px 3px 10px 5px inset;
}
#div-1:hover{
    background-color: #eeeeee;
    box-shadow: #999999 0px 0px 4px 1px;
}