*{
    margin: 0;
}
#div-1{
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
    border: 1px solid #aaaaaa;
    /* linear-gradient(posicion[tbn puede ser en grados "65deg"] angulo[colores]) */
    background: -webkit-linear-gradient(top right, #fff, tomato);

    
}