*{
    margin: 0;
    box-sizing: border-box;
}

#div-1{
    width: 150px;
    height: 150px;
    background-color: tomato;
    /* animation: nombre duracion funcion del tiempo  delay Nro de veces a repetir   dirección-normal(puede ser de inicio a fin.o viciversa)  fillmode es como los estilos afecatan al final de su animación  */
    animation: cambiardecolores 2s ease 0s infinite normal none;
    /* name duration timing-function delay iteration-count direction fill-mode; */
}
    #div-2{
        margin: 100px auto 0px auto;
        width: 64px;
        height: 64px;
        background-image: url(java.png);
        background-repeat: no-repeat;
        background-position: center;
        animation: girar 2s linear 0s infinite normal none;
    }

    @keyframes girar{
        0%{
            transform: rotate(0deg);
        }
        25%{
            transform: rotate(45deg);
        }
99%{transform: rotate(360deg);

}

        100%{
            transform: rotate(0deg);
        }




    }




@keyframes cambiardecolores{
    0%{
        background-color: green;
    }
    33%{
background-color: red;
transform: scale(2);
    }
    66%{
        background-color: blueviolet;
        transform: scale(1);
    }
    100%{
background-color: green;
    }
}
