/* FaMILIA de Fuente */
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    font-size: 20px;
    font-family: tahoma, sans-serif;

}
h4 {
    font-weight: bold;
}
small {
    /* Estilos de fuente */
    /* Normal  | oblique |normal */font-style: italic;

}
.texto-footer{
    /* proipiedad de texto de estilo SHORTHAND */
    /*font-style: ; font-weight: , font-size: font-family: ;;; */
    font:italic 100 10px arial;
}